$darkblue: #212d38 ;
$brown:#42363d;
$red:#7c2d38;
$lightred:#C96567;
$lightblue: #97AABD;
$milk:#fffaf0;

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.overlay{
    transition: all .5s;
    background: #000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
}
.overlay-open{
    visibility: visible;
    opacity: 0.4;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

%flex-row {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

%flex-center{

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero__gsap{
    background: $darkblue;
    
}

