
.hero {
    background-color: $darkblue;
    background-image: url("../images/15.png");
    background-repeat: no-repeat;
    background-size: 40vw;
    background-position: 47vw;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    margin-bottom: -2px; // Для скролл триггера
}
.hero__bg-image-1{
    position: absolute;
    top: -130px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
    transform: rotate(340deg);
    img{
        max-width: 250px;
        width: 100%;
    }
}



.hero__inner {
    height: 100vh;
    display: flex;
    align-items: center;
}
.hero__content {
    margin-left: 80px;
    position: relative;
}
.hero__image-box {
    img{
        width: 100%;
        max-width: 800px;
    }
    
}
.hero__title {
    font-size: 12vw;
    color: $milk;
    font-family: Dancing Script;

}
.hero__subtitle {
    font-size: 3vw;
    color: $lightblue;
    font-family: Marck Script; 
}


@media(max-width:900px){
    .hero__title{
        font-size: 17vw;
    }
    .hero__subtitle{
        font-size: 4vw;
    }
    .hero__bg-image-1{
        left: 0px;
        img{
            max-width: 200px;
        }
    }

}
@media(max-width:750px){
    .hero{
        background-size: 50vw;
    }
    .hero__title{
        font-size: 16vw;
    }
    .hero__subtitle{
        font-size: 4vw;
    }
    .hero__bg-image-1{
        left: 0px;
        img{
            max-width: 150px;
        }
    }

}
@media(max-width:600px){
    .hero{
        background-size: 90vw;
        background-position: 20px 70px;
    }
    .hero__inner{
        justify-content: center;

    }
    .hero__content{
        margin: 0;
    }
    .hero__title{
        font-size: 80px;
        margin: 75vw 0 0 0;
        text-align: center;
    }
    .hero__subtitle{
        font-size: 30px;
    }
    .hero__bg-image-1{
        display: none;
    }

}

@media(max-width:450px){

    .hero__title{
        font-size: 75px;
        margin: 40vw 0 0 0;
        text-align: center;
    }
    .hero__subtitle{
        font-size: 25px;
    }

}