.popup {
    max-width: 800px;
    width: 100%;
    height: 600px;
    background: $milk;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    padding: 40px;
    transition: all .6s;
    visibility: hidden;
    opacity: 0;
    font-family: Roboto Slab;
    box-shadow: 0px 0px 50px rgb(20, 20, 20);
}

.popup__icon{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index:20;
    cursor: pointer;
    transition: all .4s;
    &:hover{
        transform: rotate(180deg);
    }
}
.popup-open{
    visibility: visible;
    opacity: 1;
}

.popup__inner {
    @extend %flex-row;
    height: 100%;
}
.popup__content {

}   
.popup__logo {
    font-size: 80px;
    color: $darkblue;
    font-family: Dancing Script;
    margin-bottom: 20px;
}
.popup__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popup-social {
    color: $brown;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.5;
    transition: all .5s;
    img{
        max-width: 20px;
    }
    &:hover{
        opacity: 1;
    }
}

.popup__image-box {
    img{
        max-width: 400px;
    }
}

@media(max-width:900px){
    .popup{
        max-width: 600px;
    }
    .popup__image-box{
        img{
            max-width: 300px;
        }
    }
}
@media(max-width:650px){
    .popup{
        max-width: 400px;
    }
    .popup__image-box{
        img{
            max-width: 200px;
        }
    }
    .popup__inner{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}
@media(max-width:650px){
    .popup{
        max-width: 300px;
    }
}